.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: #00332e;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 2rem;
}

.nav-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00e6b0;
}

.nav-links-container {
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #00e6b0;
}

.nav-links li a.active {
  color: #00e6b0;
  border-bottom: 2px solid #00e6b0;
}

.dropdown-toggle {
  padding: 0 10px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 130%;
  left: -200%;
  background-color: #00332e;
  width: 400%;
  z-index: 1000;
}

@media (max-width: 696px) {
  .nav-links {
    display: none;
  }

  .dropdown-toggle {
    display: block;
  }

  .nav-links li {
    margin: 0.5rem;
  }
}
